# Baseline check

1. Если на вход программы приходит четное число, выведите "тик", а если нечетное "так".
2. Напишите игру FizzBuzz. На вход - заданное число, до которого нужно "считать".
3. Считайте из любого текстового файла 3 первых строки. 
4.Напишите программу, которая принимает на вход числа, пока ей не прислать слово "все"; после этого выводит сумму чисел.

# Разбор домашней работы

In [39]:
import requests

In [40]:
url = 'https://lenta.ru'
response = requests.get(url)

In [41]:
def saveImagebyUrl(url, name):
    response = requests.get(url)
    with open('{}.jpg'.format(name), 'wb') as out_file:
        out_file.write(response.content)
    del response

Также полезно пользоваться такой конструкцией:

In [61]:
if response.status_code == 200:
    with open("new_sample.jpg", 'wb') as f:
        f.write(response.content)

In [42]:
i = 0
for token in response.text.split():
    if 'jpg' in token:
        url = token[5:-1]
        print(url)
        name = 'lenta {}'.format(i)
        i+=1
        saveImagebyUrl(url, name)

https://icdn.lenta.ru/images/2018/11/24/00/20181124001940777/top7_a45c7e75a911e788d2ac5e14105f8c83.jpg
https://icdn.lenta.ru/images/2018/11/23/13/20181123131025473/feature_1a45d4577a58220ab856ade0d5c35881.jpg
https://icdn.lenta.ru/images/2018/11/21/11/20181121110702195/top7_5e0306150ecbc6595f2c228542a33787.jpg
https://icdn.lenta.ru/images/2018/11/23/13/20181123130812026/top7_d832d03d4da855d1fe929c2b1046c796.jpg
https://icdn.lenta.ru/images/2018/11/23/13/20181123133632088/top7_811cbe9bf39cb7ea3b4f371a19fd6757.jpg
https://icdn.lenta.ru/images/2018/11/23/16/20181123160016970/top7_32a7f2270281b3b5aff049fce6a1430b.jpg
https://icdn.lenta.ru/images/2018/11/22/21/20181122210433910/top7_a3175cb280a98a95a08d22f5eb828a7b.jpg
https://icdn.lenta.ru/images/2018/11/21/12/20181121123929892/top7_0b5f8046a9896e3482076ba26415c070.jpg
https://icdn.lenta.ru/images/2018/11/22/14/20181122142153476/top7_fe6273b40936484613fb021e028cb439.jpg
https://icdn.lenta.ru/images/2018/11/21/17/20181121174930452/top7_607f8c92fd689392a6b0b37a6b6a4570.jpg
https://icdn.lenta.ru/images/2018/11/23/08/20181123082340216/top7_e2e3ee938ebd1dafcc78e324a8be20b4.jpg
https://icdn.lenta.ru/images/2018/11/22/19/20181122191241706/top7_6c1f277f23b7690e31a7b1cc484860b0.jpg
https://icdn.lenta.ru/images/2018/11/21/17/20181121170132641/top7_83247f3d4f18db8f5abc23188a33db87.jpg
https://icdn.lenta.ru/images/2018/11/21/18/20181121183628241/top7_952896d6ccf3ec999ff93a8beb62574f.jpg
https://icdn.lenta.ru/images/2018/11/22/18/20181122184314221/top7_8625999d4bf5952bf1c25a541cd8ca84.jpg
https://icdn.lenta.ru/images/2018/11/21/21/20181121210314751/top7_d3fd38acf7feb8f43daeb3ff276936b7.jpg
https://icdn.lenta.ru/images/2018/11/23/07/20181123072536312/top7_1acd00e142fbc3f9381d31223589b999.jpg
https://icdn.lenta.ru/images/2018/11/22/12/20181122123958747/top7_4b476ca5eff145a92ecf511cf1bde140.jpg
https://icdn.lenta.ru/images/2018/11/07/19/20181107190756890/top7_03344e31f4866cdce4813762df806e4c.jpg
https://icdn.lenta.ru/images/2018/11/23/11/20181123111641256/top7_acc4c21a5a547df043ae160a7b8f5aa1.jpg
https://icdn.lenta.ru/images/2018/11/21/15/20181121151115989/top7_7f8efdb7e501a41d90c594e87e514511.jpg
https://icdn.lenta.ru/images/2018/11/21/17/20181121174406183/top7_c5ee04059703c8b2f2f2ff521befd555.jpg
https://icdn.lenta.ru/images/2018/11/22/14/20181122144637337/top7_cacbefd86ea4df0ab0a557d3c12004fb.jpg
https://icdn.lenta.ru/images/2018/11/21/22/20181121224634166/top7_e89505dff8a66d66387780dd02dedd83.jpg
https://icdn.lenta.ru/images/2018/11/23/13/20181123131025473/tabloid_277292aaf613c13cf3a043e35e654d21.jpg
https://icdn.lenta.ru/images/2018/11/09/15/20181109151614301/tabloid_4e77c0088f3955feaf775a8a070a4938.jpg
https://icdn.lenta.ru/images/2018/11/07/19/20181107190756890/tabloid_a4b344fe309eaf62a932095e3469e6bb.jpg
https://icdn.lenta.ru/images/2018/11/08/18/20181108185616353/tabloid_29cc4305eab5804507718bd1d9f86212.jpg
https://icdn.lenta.ru/images/2018/11/16/15/20181116155020234/tabloid_0fdc165d6ee3a852f5d8257f5d90e29b.jpg
https://icdn.lenta.ru/images/2018/11/21/18/20181121183628241/tabloid_765fd29d5f12fe5b0e80c89d8e835e63.jpg
https://icdn.lenta.ru/images/2018/11/21/11/20181121110702195/tabloid_1d9e35e8bd24d8c1f19bca146d38c9a8.jpg
https://icdn.lenta.ru/images/2018/11/21/12/20181121123929892/tabloid_0d938c1b54a621181512ac38d67115c1.jpg
https://icdn.lenta.ru/images/2018/10/09/17/20181009173549325/tabloid_bbd1507844f13c9562635b275752fa57.jpg
https://icdn.lenta.ru/images/2018/11/22/21/20181122210433910/tabloid_d2a797e965ca373f6dedcaec26be943c.jpg
https://icdn.lenta.ru/images/2018/11/19/10/20181119103205643/tabloid_6a44441df323c0d529c951ed6e33e325.jpg
https://icdn.lenta.ru/images/2018/11/21/15/20181121151115989/tabloid_6d4ba9125b6348635601904a9d809dc6.jpg
https://icdn.lenta.ru/images/2018/11/20/12/20181120121153469/tabloid_902d2a3b24a14c937852ceb19f25f7e3.jpg
https://icdn.lenta.ru/images/2018/06/13/11/20180613114632255/tabloid_6e5edf2801bfc794ca310350b9579039.jpg
https://icdn.lenta.ru/images/2018/11/23/13/20181123133632088/tabloid_80ac8479d2c92ea6a6718b6cc07a891d.jpg
https://icdn.lenta.ru/images/2018/11/16/19/20181116195238958/tabloid_f2f6ee34c1aa7a54b6a07df8a5a374da.jpg
https://icdn.lenta.ru/images/2018/11/21/18/20181121182633206/tabloid_2d159ab21d14c60f2dba139d4e4084b7.jpg
https://icdn.lenta.ru/images/2018/11/23/13/20181123130812026/tabloid_751017b606cf36ddcbdd9e8b46dbb934.jpg
https://icdn.lenta.ru/images/2018/11/22/12/20181122123958747/tabloid_4eb0e8e7545de1b7a6123e0a7319b65a.jpg
https://icdn.lenta.ru/images/2018/11/22/18/20181122184314221/tabloid_dd3c5db367c1f813b4e05dde565ce1c3.jpg
https://icdn.lenta.ru/images/2018/11/21/22/20181121224634166/tabloid_0c811e176ebff7b131290cbf9b83cc9e.jpg
https://icdn.lenta.ru/images/2018/11/22/14/20181122142153476/tabloid_b7316025c3c19fa1aee43cdcf1d791f1.jpg
https://icdn.lenta.ru/images/2018/11/23/11/20181123111641256/tabloid_5b137f3f8f2a022457396f2d37ff72b9.jpg
https://icdn.lenta.ru/images/2018/11/21/17/20181121174620791/tabloid_da3cad8826e1e3e256eb7fa090d94166.jpg
https://icdn.lenta.ru/images/2018/11/09/18/20181109183117393/tabloid_e67183b4696da97dc4d1b05c93e2b57e.jpg
https://icdn.lenta.ru/images/2018/11/19/17/20181119174725230/tabloid_c60ab654665e3bf671a44767cb38d8f3.jpg
https://icdn.lenta.ru/images/2018/11/19/15/20181119154300616/tabloid_7ab2b047ca51574f7f6d7737531f5f77.jpg
https://icdn.lenta.ru/images/2018/11/17/18/20181117183606295/tabloid_72c41f7f24f4925e1ad2dd1c5be7a0bc.jpg
https://icdn.lenta.ru/images/2018/11/13/18/20181113185510686/tabloid_cf3455afd95b44821d8edee2014428c7.jpg
https://icdn.lenta.ru/images/2018/11/22/19/20181122191241706/tabloid_41a5511989816072ace4475099b4ae33.jpg
https://icdn.lenta.ru/images/2018/11/22/12/20181122124459251/tabloid_57d330cbccd0af6badb6b61f8556ab70.jpg
https://icdn.lenta.ru/images/2018/11/21/21/20181121210314751/tabloid_5a063f41d1f54bc537f68a56ff07117a.jpg
https://icdn.lenta.ru/images/2018/11/20/18/20181120184825216/tabloid_acf73c331973c3a81b5c1e1a9e882c7e.jpg
https://icdn.lenta.ru/images/2018/11/21/17/20181121174406183/tabloid_3f29dfe84e09f35e27402ed5f65138cb.jpg
https://icdn.lenta.ru/images/2018/11/13/17/20181113171331240/tabloid_ccd0fd6f181844efc3b8555c4931d221.jpg
https://icdn.lenta.ru/images/2018/11/20/16/20181120162606526/tabloid_1bb15131ec739037052bd403e6f47ad4.jpg
https://icdn.lenta.ru/images/2018/11/23/08/20181123082340216/tabloid_004e7c99d2fd6672bc6319af04798592.jpg
https://icdn.lenta.ru/images/2018/11/23/07/20181123072536312/tabloid_4d3820de4928a1d1eb104991c0140b8b.jpg
https://icdn.lenta.ru/images/2018/11/22/11/20181122110715178/tabloid_2fc37af7f2483465feb719dde1036a82.jpg
https://icdn.lenta.ru/images/2018/11/20/10/20181120105528073/tabloid_dcca3c191abb9dafe3d1971373e4c76a.jpg
https://icdn.lenta.ru/images/2018/11/23/16/20181123160016970/tabloid_8b88fcd86d55f83b2a82642c373627d1.jpg
https://icdn.lenta.ru/images/2018/11/15/17/20181115174956920/tabloid_ec108338319ae33d92f67114ed5cef7d.jpg
https://icdn.lenta.ru/images/2018/11/22/14/20181122144637337/tabloid_c4d1966fd6b40978e1aedccfd4799987.jpg

In [43]:
url = 'http://hpmor.ru/book/1/1/'
response = requests.get(url)
response.encoding = 'utf-8'

In [44]:
text = response.text

In [19]:
text.find('<p><em>')

5484

In [21]:
text.rfind('<div class="ph3 pt2 pb4 mt2 bg-moon-gray pa2">')

21830

In [23]:
cropped_text = text[5484:21830]

In [32]:
for elem in ['<p>', '</p>', '<em>', '</em>', '</p>\n\n<p>', '\n\n', '&hellip', '<br />']:
    cropped_text = cropped_text.replace(elem, ' ')

In [33]:
cropped_text

'  Отказ от прав:  Гарри Поттер принадлежит Дж. К. Роулинг, методы рационального мышления не принадлежат никому.    Примечания автора:  У этого фанфика довольно неспешное начало, и первые 5 глав — всего лишь вступление, но если вы дочитали до 10 главы и он вам всё ещё не нравится — бросайте.   Нельзя сказать, что события в этом фанфике отличаются от канона из-за того, что в какой-то один момент всё пошло по-другому. И хотя где-то в прошлом существует основная точка расхождения, она не единственная. Правильнее считать, что дело происходит в параллельной вселенной.   В тексте присутствует множество подсказок: некоторые очевидные, а некоторые — не очень. Есть старательно спрятанные намёки — я был потрясён, когда увидел, что некоторые читатели их разглядели. А многие свидетельства лежат прямо на виду. Это рационалистская история, все её загадки можно разгадать. Для этого они и предназначены.   Все научные факты, упомянутые в тексте, — настоящие научные факты. Но, пожалуйста, не забывайте: когда речь не идёт о царстве науки, взгляды персонажей могут отличаться от авторских. Не всякое действие протагониста представляет из себя урок мудрости, а тёмные персонажи могут давать советы, которым либо нельзя доверять, либо они являются палкой о двух концах.   * * *    В лунном свете блестит полоска серебра…     (падают тёмные одежды)      ;кровь льётся литрами, и слышен крик.    Все стены до последнего дюйма заняты книжными шкафами. B каждом шкафу по шесть полок, которые доходят почти до потолка. Некоторые полки плотно заставлены книгами в твёрдом переплёте: математика, химия, история и так далее. На других полках в два ряда стоит научная фантастика в мягкой обложке. Под второй ряд книг подложены коробки и деревянные бруски так, что он возвышается над первым и можно прочитать названия стоящих в нём книг. Но и это не всё: книги перебираются на столы и диваны, образуют небольшие стопки под окнами.   Так выглядит гостиная дома, в котором живут известный профессор Майкл Веррес-Эванс и его жена, миссис Петуния Эванс-Веррес, а также их приёмный сын, Гарри Джеймс Поттер-Эванс-Веррес.   На столе в гостиной лежит письмо, а рядом с ним — желтоватый пергаментный конверт без марки. На конверте изумрудно-зелёными чернилами написано, что письмо адресовано «мистеру Г. Поттеру» .    Профессор спорит с женой, не повышая голос, так как считает, что кричать — некультурно.   — Это ведь шутка, да? — по тону Майкла можно было понять: он весьма опасается, что жена говорит серьёзно.   — Моя сестра была ведьмой, — нервно, но настойчиво повторила Петуния. — А её муж — волшебником.   — Это абсурд! — отчеканил Майкл. — Они же были на нашей свадьбе, они приезжали на Рождество ;   — Я просила их ничего тебе не рассказывать, — прошептала Петуния, — но это чистая правда, я сама видела ;   Профессор закатил глаза:   — Дорогая, я знаю, ты не читаешь скептическую литературу и можешь не понимать, как легко для искусного фокусника делать невозможные на первый взгляд вещи. Помнишь, я учил Гарри гнуть ложки? И если вдруг тебе казалось, что твоя сестра и её муж угадывали твои мысли, то такой приём называется «холодное чтение».   — Это было не сгибание ложек.   — А что?   Петуния прикусила губу.   — Так просто не рассказать. Ты подумаешь, что я ; — она сглотнула. — Послушай, Майкл, я не всегда была ; такой, — она махнула рукой вниз, обозначая точёную фигуру. — Лили изменила мою внешность. Потому что я ; я буквально умоляла её. Долгие годы я умоляла. Всё детство я плохо к ней относилась, потому что она всегда, всегда была красивее меня, а потом у неё проявился магический дар. Можешь представить, как я себя чувствовала? Я годами умоляла её сделать меня красивой. Пусть у меня не будет магии, но будет хотя бы красота.   В глазах Петунии стояли слёзы:   — Лили отказывала мне по разным нелепым причинам, говорила, будто наступит конец света, если она немного поможет родной сестре, или что кентавр запретил ей это делать, и тому подобную чепуху, и я её за это ненавидела. А сразу после университета я встречалась с этим Верноном Дурслем, он был толстый, но кроме него никто из парней со мной вообще не разговаривал. Он говорил, что хочет детей и чтобы первенца звали Дадли. Я тогда подумала: «Какие же родители назовут своего ребёнка Дадли Дурсль?» И тут вся моя будущая жизнь словно встала у меня перед глазами, и это было невыносимо. Я написала сестре, что, если она мне не поможет, то я…   Петуния запнулась и тихо продолжила:   — В конце концов она сдалась. Она говорила, что это опасно, но мне было наплевать. Я выпила зелье и тяжело болела две недели. Зато потом моя кожа стала чистой, фигура похорошела и ; Я стала красивой, люди начали относиться ко мне добрее, — её голос сорвался. — После этого я больше не могла ненавидеть сестру, особенно когда узнала, к чему в итоге привела её эта магия.   — Дорогая, — нежно ответил Майкл, — ты заболела, набрала правильный вес, пока лежала в кровати, а кожа стала лучше сама по себе. Или болезнь заставила тебя изменить рацион.   — Она была ведьмой, — настаивала Петуния. — Я видела, как она творила чудеса.   — Петуния, — в голосе Майкла появилось раздражение, — ты же знаешь, что это не может быть правдой. Мне точно нужно объяснять почему?   Петуния всплеснула руками. Она почти плакала.   — Милый, я всегда проигрываю тебе в споре, но, пожалуйста, поверь мне сейчас ;    —  Папа! Мама!   Они замолчали и оглянулись на Гарри, который, оказывается, тоже был в гостиной всё это время.   Мальчик сделал глубокий вдох.   — Мама, насколько я понимаю, у твоих родителей не было магических способностей?   — Нет, — Петуния озадаченно посмотрела на него.   — Получается, что никто из членов вашей семьи не знал о магии, пока Лили не получила пригласительное письмо. Каким образом убедили их?   — Тогда было не только письмо. К нам приходил профессор из Хогвартса. Он… — Петуния бросила взгляд в сторону Майкла, — он показал нам несколько заклинаний.   — Значит, спорить по этому поводу совершенно ни к чему, — твёрдо заключил Гарри. Впрочем, надежды, что хотя бы сейчас родители к нему прислушаются, было мало. — Если всё это правда, то мы можем просто пригласить профессора из Хогвартса. Если он продемонстрирует нам магию, то папе придётся признать, что она существует. А если нет, то мама согласится, что всё это выдумка. Нужно не ссориться, а провести эксперимент.   Профессор повернулся и, как всегда снисходительно, посмотрел на него сверху вниз:   — Гарри? Магия? В самом деле? Я думал, уж ты-то знаешь достаточно, чтобы не воспринимать её всерьёз, хоть тебе и десять лет. Сынок, магия — самая ненаучная вещь, которую только можно себе представить!   Гарри кисло улыбнулся. Майкл относился к нему хорошо — вероятно, лучше, чем большинство родных отцов относятся к своим детям. Гарри отправляли учиться в лучшие школы, а когда с ними ничего не вышло, ему стали нанимать частных преподавателей из бесконечной вереницы голодающих студентов. Родители всегда поддерживали Гарри в изучении всего, что только привлекало его внимание. Ему покупали все интересующие его книги, помогали с участием в различных конкурсах по математике и естественно-научным предметам. Он получал практически всё, что хотел, в разумных пределах. Единственное, в чём ему отказывали, так это в малейшей доле уважения. Впрочем, с какой стати штатному профессору Оксфорда, преподающему биохимию, прислушиваться к советам маленького мальчика? Он, конечно, «проявит заинтересованность», ведь так положено поступать «хорошему родителю», к каковым профессор, несомненно, себя относил. Но воспринимать десятилетнего ребёнка всерьёз? Вряд ли.   Иногда Гарри хотелось накричать на отца.   — Мам, — сказал он, — если ты хочешь выиграть у папы этот спор, посмотри вторую главу из первого тома лекций Фейнмана по физике. Там есть цитата, в которой говорится, что философы тратят уйму слов, выясняя, без чего наука не может обойтись, и все они неправы, потому что в науке есть только одно правило: последний судья — это наблюдение. Нужно просто посмотреть на мир и рассказать о том, что ты видишь. И ; я не могу вспомнить с ходу подходящую цитату, но с научной точки зрения решать разногласия нужно опытным путём, а не спорами.   Мать посмотрела на него сверху вниз и улыбнулась:   — Спасибо, Гарри, но ; — она с достоинством взглянула на мужа, — я не хочу выигрывать спор у твоего отца. Я лишь хочу, чтобы мой муж прислушался к любящей его жене и поверил ей.   Гарри на секунду закрыл глаза. Безнадёжны. Его родители просто безнадёжны.   Разговор опять превращался в один из тех самых бессмысленных споров, когда мать пытается заставить отца почувствовать себя виноватым, а тот, в свою очередь, пытается заставить её почувствовать себя глупой.   — Я пойду в свою комнату, — немного дрожащим голосом объявил Гарри. — Мама, папа, пожалуйста, постарайтесь долго не ругаться. Мы ведь и так скоро всё узнаем.   — Конечно, Гарри, — отозвался отец, а мать обнадёживающе его поцеловала, после чего родители продолжили пререкаться.   Гарри поднялся по лестнице в свою спальню, закрыл за собой дверь и попытался всё обдумать.   Самое интересное, что он просто должен был согласиться с отцом. Никто и никогда не видел ни одного доказательства реальности магии, а из слов мамы следовало, что существует целый волшебный мир. Как можно такое сохранять в тайне? Тоже с помощью магии? Довольно сомнительное объяснение.   Случай по идее элементарный: мама либо шутит, либо лжёт, либо сошла с ума, в порядке возрастания ужасности. Если мама сама отправила письмо, то это объясняет, как оно попало в почтовый ящик без марки. В конце концов, небольшое сумасшествие гораздо, гораздо более вероятно, чем вселенная, содержащая в себе магию.   Но всё-таки какая-то часть Гарри была совершенно уверена в том, что магия существует. Это чувство возникло в тот самый момент, когда он увидел письмо предположительно из Хогвартса, Школы Чародейства и Волшебства.   Скривившись, Гарри потёр лоб. «Не верь своим мыслям», было написано в одной книге.   Но эта странная убеждённость ; Он как будто знал заранее, что профессор из Хогвартса в самом деле появится на их пороге, взмахнёт палочкой и сотворит настоящее волшебство. Эта убеждённость не боялась опровержения: не искала заранее оправданий на случай, если вдруг никакой профессор не придёт или придёт, но сможет показать лишь фокус со сгибанием ложек.    Откуда ты взялось, странное маленькое предчувствие?  — Гарри крепко задумался. —  Почему я верю в то, во что я верю?    Обычно он довольно быстро справлялся с этим вопросом, но сейчас у него не было никакой зацепки.   Гарри мысленно пожал плечами. Двери созданы, чтобы их открывать, а гипотезы — чтобы их проверять.   Он взял со стола лист линованной бумаги и написал: «Заместителю директора».   Гарри остановился, собираясь с мыслями, потом взял другой лист и выдавил ещё один миллиметр графита из механического карандаша — случай требовал каллиграфического почерка.   «Уважаемая заместитель директора Минерва МакГонагалл или другое уполномоченное лицо. \nНедавно я получил от Вас пригласительное письмо в Хогвартс на имя мистера Г. Поттера. Вы можете не знать, что мои биологические родители, Джеймс Поттер и Лили Поттер (в девичестве Лили Эванс), мертвы. Я был усыновлён сестрой Лили, Петунией Эванс-Веррес, и её мужем, Майклом Веррес-Эвансом. \nЯ крайне заинтересован в посещении Хогвартса, при условии, что такое место на самом деле существует. Моя мать, Петуния, утверждает, что знает про магию, но сама ею пользоваться не способна. Мой отец настроен скептически. Сам я до конца не убеждён. К тому же я не знаю, где приобрести книги и материалы, указанные Вами в пригласительном письме. \nМама упомянула, что Вы присылали представителя Хогвартса к Лили Поттер (бывшая Лили Эванс), чтобы продемонстрировать её семье существование магии и, я полагаю, чтобы помочь ей с приобретением школьных принадлежностей. Если Вы поступите подобным образом в отношении моей семьи, это существенно поможет делу. \nС уважением, \nГарри Джеймс Поттер-Эванс-Веррес».   Гарри дописал свой адрес, сложил письмо пополам и засунул в конверт, адресовав его в Хогвартс. После чего, поразмыслив, взял свечку и, капнув воском на угол конверта, выдавил на нём кончиком перочинного ножа свои инициалы: Г.Д.П.Э.В. Сходить с ума — так со вкусом.   Затем он открыл дверь и спустился вниз по лестнице. Его отец сидел в гостиной и читал книгу по высшей математике, чтобы показать, какой он умный муж, а мама готовила на кухне одно из любимых блюд отца, чтобы показать, какая она любящая жена. Похоже, они не разговаривали друг с другом. Споры могут быть ужасны, но почему-то молчание иногда ещё хуже.   — Мама, — подал голос Гарри, — я хочу проверить гипотезу. Каким образом, согласно твоей теории, я должен послать сову в Хогвартс?   Мать отвернулась от кухонной раковины и озадаченно посмотрела на него.   — Я ; Я не знаю. Думаю, для этого у тебя должна быть волшебная сова.   Он должен был с подозрением в голосе сказать: «Ага, выходит, проверить твою теорию никак нельзя», но странная уверенность не желала сдаваться.   — Письмо каким-то образом сюда попало, — рассудил Гарри, — так что я просто помашу им на улице и крикну: «Письмо в Хогвартс!» Посмотрим, прилетит ли сова, чтобы забрать его. Папа, ты хочешь пойти со мной?   Отец отрицательно покачал головой и продолжил чтение.    Конечно , — подумал Гарри. —  Магия — это ерунда, в которую верят только глупцы. Если отец начнёт проверять гипотезу или даже просто будет наблюдать за ходом проверки, то это будет выглядеть так, как будто он допускает вероятность её существования ;    Выходя через заднюю дверь во двор, Гарри вдруг осознал, что если сова в самом деле прилетит и заберёт письмо, то он не сможет доказать это отцу.    Но ведь этого же на самом деле произойти не может, так? Что бы там ни твердил мой мозг. А если сова действительно спустится с небес и схватит конверт, то у меня будут заботы поважнее мнения папы на этот счёт.    Гарри глубоко вздохнул и поднял конверт над головой.   Сглотнул.   Кричать «Письмо в Хогвартс!», размахивая конвертом, на заднем дворе своего дома оказалось вдруг весьма нелепым занятием.    Нет, я не как папа. Я использую научный метод, даже если буду при этом глупо выглядеть.    — Письмо ; — начал было Гарри, но получился только какой-то невразумительный отрывистый шёпот.   Тогда он собрался с духом и закричал в пустое небо:   — Письмо в Хогвартс! Можно мне сову?!   — Гарри? — произнёс почти над ухом озадаченный голос соседки.   Гарри отдёрнул руку, словно обжёгся, и спрятал конверт за спину, как будто в нём была выручка от продажи наркотиков. Лицо запылало от смущения.   Над соседским забором появилось женское лицо — растрёпанные седые космы торчали из-под сетки для волос. Это была миссис Фигг, которая временами за ним приглядывала.   — Что ты тут делаешь, Гарри?   — Ничего, — ответил он сдавленным голосом. — Просто ; проверяю одну весьма глупую теорию ;   — Ты получил пригласительное письмо из Хогвартса?   Гарри застыл на месте.   — Да, — сказали его губы после короткой паузы, — я получил письмо из Хогвартса. Они написали, чтобы я отправил им ответ с совой до 31 июля, но ;   — Но у тебя нет совы. Бедный мальчик! Даже не представляю, о чём они думали, посылая тебе стандартное приглашение.   Морщинистая рука с раскрытой ладонью высунулась из-за забора. С трудом понимая, что происходит, Гарри отдал конверт.   — Я всё сделаю, дорогой, — сказала миссис Фигг, — мигом кого-нибудь приведу.   И её лицо, торчавшее над забором, исчезло.   Во дворе надолго воцарилась тишина, которую в конце концов нарушил тихий и спокойный голос мальчика:   — Что?        </div>\n      \n      '

In [38]:
from collections import Counter
Counter(cropped_text.split()).most_common(20)

[('—', 101),
 ('в', 55),
 ('и', 48),
 ('не', 47),
 ('что', 37),
 ('я', 30),
 ('на', 26),
 ('с', 22),
 ('Гарри', 21),
 ('это', 17),
 (';', 16),
 ('Я', 16),
 ('но', 15),
 ('он', 15),
 ('из', 15),
 ('а', 14),
 ('её', 13),
 ('она', 11),
 ('по', 11),
 ('чтобы', 11)]

## Beautiful soup

In [63]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /anaconda3/lib/python3.6/site-packages (4.6.0)
distributed 1.21.8 requires msgpack, which is not installed.
You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [64]:
from bs4 import BeautifulSoup
import urllib

In [78]:
response = requests.get('http://az.lib.ru/t/tolstoj_lew_nikolaewich/text_0060.shtml')

In [79]:
soup = BeautifulSoup(response.text, 'html.parser')

In [80]:
#response.text[:10000]

In [83]:
#способ получить текст (убирает лишние непечатные символы, но не все) 
# хорошо работает для простых страниц
# выводим срез 10000 символов, чтобы было не так тяжело

#print(soup.get_text()[:1000])

In [73]:
response = requests.get('https://ru.wikipedia.org/wiki/Владимир_Высоцкий_в_кино')
soup = BeautifulSoup(response.text, 'html.parser')

In [76]:
#print(soup.prettify()[:1000])

# Повторим методы строк

Есть методы для проверки строки (текстовой переменной):

In [47]:
'I have 3 apples'.isdigit()

False

In [48]:
'only_letters'.isalpha()

True

In [49]:
'5littlepigs'.isalnum()

True

In [50]:
'kate'.islower()

True

In [51]:
'wOrd'.isupper()

False

Есть методы для преобразования строки:

In [54]:
s1 = '    KiTten '

In [55]:
s1.lower().strip()

'kitten'

# Блиц

In [ ]:
1. (1 балл) Скачать html-страницу с книгой "Колыбель для кошки" отсюда http://lib.ru/INOFANT/WONNEGUT/cat.txt
   Вывести на печать без "шапки" html-разметки
2. (3 балла) Нормализовать слова, удалить основные знаки препинания и вывести 20 самых часто встречающихся слов, больше 20 букв.
3. (3 балла) Определить, сколько чисел встречается в тексте, вывести количество и сумму.

Доп. задача:
    Определить количество значимых написаний с заглавной буквы в произведении. Определить, сколько знаков препинания содержит текст.

## Pandas 

![](https://metrouk2.files.wordpress.com/2015/10/panda.jpg)

Pandas - библиотека, работы с данными и анализа данных.
Работает с таблицами. Умеет объединять таблицы, сортировать таблицы, заполнять значения, аггрегировать данные и т.п.
Умеет работать с экселевскими таблицами.

Пожалуй, самый знаменитый датасет - данные пассажиров титаника

In [1]:
import pandas as pd

## Learning from tragedy: анализ данных на примере "Титаника"
![](http://www.maritimequest.com/liners/titanic/photos/emil_besirevic/titanic_emil_besirevic_01.jpg)

### Чтение и просмотр данных

In [48]:
#считываем dataframe в переменную pasInfo
pasInfo = pd.read_csv('titanic_data.csv')

In [ ]:
# также есть read_excel, read_json

In [49]:
#просматриваем часть колонок
pasInfo.head(10)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [50]:
pasInfo.tail(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [51]:
#двумерный размер датафрейма
pasInfo.shape

(891, 11)

In [52]:
#имена колонок
pasInfo.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [55]:
#можно вывести одну отдельную колонку или несколько
pasInfo[['Age', 'Sex']]

      Age     Sex
0    22.0    male
1    38.0  female
2    26.0  female
3    35.0  female
4    35.0    male
5     NaN    male
6    54.0    male
7     2.0    male
8    27.0  female
9    14.0  female
10    4.0  female
11   58.0  female
12   20.0    male
13   39.0    male
14   14.0  female
15   55.0  female
16    2.0    male
17    NaN    male
18   31.0  female
19    NaN  female
20   35.0    male
21   34.0    male
22   15.0  female
23   28.0    male
24    8.0  female
25   38.0  female
26    NaN    male
27   19.0    male
28    NaN  female
29    NaN    male
..    ...     ...
861  21.0    male
862  48.0  female
863   NaN  female
864  24.0    male
865  42.0  female
866  27.0  female
867  31.0    male
868   NaN    male
869   4.0    male
870  26.0    male
871  47.0  female
872  33.0    male
873  47.0    male
874  28.0  female
875  15.0  female
876  20.0    male
877  19.0    male
878   NaN    male
879  56.0  female
880  25.0  female
881  33.0    male
882  22.0  female
883  28.0    male
884  25.0    male
885  39.0  female
886  27.0    male
887  19.0  female
888   NaN  female
889  26.0    male
890  32.0    male

[891 rows x 2 columns]

In [113]:
#кусочек таблицы
pasInfo[pasInfo['Embarked'] == 'S']

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,11,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
17,18,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
20,21,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,24,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
27,28,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
29,30,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
33,34,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
35,36,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S
37,38,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN,S
38,39,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S
40,41,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S
41,42,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S
45,46,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
49,50,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
851,852,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
853,854,1,"Lines, Miss. Mary Conover",female,16.0,0,1,PC 17592,39.4000,D28,S
854,855,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.0,1,0,244252,26.0000,NaN,S
855,856,3,"Aks, Mrs. Sam (Leah Rosen)",female,18.0,0,1,392091,9.3500,NaN,S
856,857,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S
857,858,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S
860,861,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083,NaN,S
861,862,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
867,868,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
876,877,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
880,881,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

### Быстрый анализ данных

In [60]:
#аггрегация данных
pasInfo['Age'].mean()

29.69911764705882

Средний возраст 29

In [61]:
pasInfo['Age'].median()

28.0

In [62]:
pasInfo['Fare'].sum()

28693.9493

In [63]:
pasInfo.mean()

PassengerId    446.000000
Pclass           2.308642
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
dtype: float64

In [64]:
pasInfo.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [160]:
pasInfo.Sex.value_counts(normalize = True)

male      0.647587
female    0.352413
Name: Sex, dtype: float64

### Работа с пропущенными данными

Чаще всего, в реальной жизни, каких-то данных не хватает (их не проставили, они потерялись и тому подобное). Почти никогда вы не работаете с идеальными таблицами, нужно уметь обрабатывать пропуски

In [75]:
print(pasInfo.shape)
pasInfo.head(10)

(891, 11)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [79]:
#самый радикальный метод борьбы с nan
pasInfo.dropna()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
21,22,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,24,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
27,28,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
52,53,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C
54,55,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C
62,63,1,"Harris, Mr. Henry Birkhardt",male,45.0,1,0,36973,83.4750,C83,S
66,67,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.0,0,0,C.A. 29395,10.5000,F33,S
75,76,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
88,89,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,C23 C25 C27,S
92,93,1,"Chaffee, Mr. Herbert Fuller",male,46.0,1,0,W.E.P. 5734,61.1750,E31,S
96,97,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
97,98,1,"Greenfield, Mr. William Bertram",male,23.0,0,1,PC 17759,63.3583,D10 D12,C
102,103,1,"White, Mr. Richard Frasar",male,21.0,0,1,35281,77.2875,D26,S
110,111,1,"Porter, Mr. Walter Chamberlain",male,47.0,0,0,110465,52.0000,C110,S
118,119,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C
123,124,2,"Webber, Miss. Susan",female,32.5,0,0,27267,13.0000,E101,S
124,125,1,"White, Mr. Percival Wayland",male,54.0,0,1,35281,77.2875,D26,S
136,137,1,"Newsom, Miss. Helen Monypeny",female,19.0,0,2,11752,26.2833,D47,S
137,138,1,"Futrelle, Mr. Jacques Heath",male,37.0,1,0,113803,53.1000,C123,S
139,140,1,"Giglio, Mr. Victor",male,24.0,0,0,PC 17593,79.2000,B86,C
148,149,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,2,230080,26.0000,F2,S
151,152,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6000,C2,S
170,171,1,"Van der hoef, Mr. Wyckoff",male,61.0,0,0,111240,33.5000,B19,S
174,175,1,"Smith, Mr. James Clinch",male,56.0,0,0,17764,30.6958,A7,C
177,178,1,"Isham, Miss. Ann Elizabeth",female,50.0,0,0,PC 17595,28.7125,C49,C
...,...,...,...,...,...,...,...,...,...,...,...
737,738,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C
741,742,1,"Cavendish, Mr. Tyrell William",male,36.0,1,0,19877,78.8500,C46,S
742,743,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
745,746,1,"Crosby, Capt. Edward Gifford",male,70.0,1,1,WE/P 5735,71.0000,B22,S
748,749,1,"Marvin, Mr. Daniel Warner",male,19.0,1,0,113773,53.1000,D30,S
751,752,3,"Moor, Master. Meier",male,6.0,0,1,392096,12.4750,E121,S
759,760,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",female,33.0,0,0,110152,86.5000,B77,S
763,764,1,"Carter, Mrs. William Ernest (Lucile Polk)",female,36.0,1,2,113760,120.0000,B96 B98,S
765,766,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.0,1,0,13502,77.9583,D11,S
772,773,2,"Mack, Mrs. (Mary)",female,57.0,0,0,S.O./P.P. 3,10.5000,E77,S
779,780,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.0,0,1,24160,211.3375,B3,S
781,782,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",female,17.0,1,0,17474,57.0000,B20,S
782,783,1,"Long, Mr. Milton Clyde",male,29.0,0,0,113501,30.0000,D6,S
789,790,1,"Guggenheim, Mr. Benjamin",male,46.0,0,0,PC 17593,79.2000,B82 B84,C
796,797,1,"Leader, Dr. Alice (Farnham)",female,49.0,0,0,17465,25.9292,D17,S
802,803,1,"Carter, Master. William Thornton II",male,11.0,1,2,113760,120.0000,B96 B98,S
806,807,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0000,A36,S
809,810,1,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",female,33.0,1,0,113806,53.1000,E8,S
820,821,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.0,1,1,12749,93.5000,B69,S
823,824,3,"Moor, Mrs. (Beila)",female,27.0,0,1,392096,12.4750,E121,S
835,836,1,"Compton, Miss. Sara Rebecca",female,39.0,1,1,PC 17756,83.1583,E49,C
853,854,1,"Lines, Miss. Mary Conover",female,16.0,0,1,PC 17592,39.4000,D28,S
857,858,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S
862,863,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
867,868,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
871,872,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [84]:
#Почему он радикален - количество данных сокращается в разы
print(pasInfo.shape)
print(pasInfo.dropna().shape)

(891, 11)
(183, 11)

In [94]:
#Лучше более мягко, выкидывать nan по мере необходимости. Часто в функциях есть аргумент, позволяющий с ними работать.
pasInfo.dropna(axis = 0, subset = ['Cabin']).shape

(204, 11)

In [96]:
pasInfo.dropna(how='all').shape

(891, 11)

In [98]:
pasInfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
PassengerId    891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.6+ KB

In [162]:
pasInfo[pasInfo.Cabin.isnull()]['Pclass'].value_counts()

3    479
2    168
1     40
Name: Pclass, dtype: int64

In [101]:
#также можно заменить их, чем - смотрите по ситуации
pasInfo.fillna(-999).head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,-999,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,-999,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,-999,S

Блок задач 1 (3 балла)
1. Посчитайте, сколько пассажиров женщин было, а сколько мужчин
2. Какой самый молодой и самый старый пассажир на корабле?
3. Выведите датасет только с известным возрастом пассажиров
4. Выведите датасет всех пассажиров, младше 6 лет. Сколько таких?
5. Выведите датасет только пассажиров женщин
6. Верно ли утверждение, что в каюте всегда останавливался один человек?
7. Загрузите датасет titanic_surv.csv и посчитайте количество и процент выживших

### Группировка данных

In [135]:
for group, groupDf in pasInfo.groupby('Pclass'):
    print(group)
    print(groupDf.describe())

1
       PassengerId  Pclass         Age       SibSp       Parch        Fare
count   216.000000   216.0  186.000000  216.000000  216.000000  216.000000
mean    461.597222     1.0   38.233441    0.416667    0.356481   84.154687
std     246.737616     0.0   14.802856    0.611898    0.693997   78.380373
min       2.000000     1.0    0.920000    0.000000    0.000000    0.000000
25%     270.750000     1.0   27.000000    0.000000    0.000000   30.923950
50%     472.000000     1.0   37.000000    0.000000    0.000000   60.287500
75%     670.500000     1.0   49.000000    1.000000    0.000000   93.500000
max     890.000000     1.0   80.000000    3.000000    4.000000  512.329200
2
       PassengerId  Pclass         Age       SibSp       Parch        Fare
count   184.000000   184.0  173.000000  184.000000  184.000000  184.000000
mean    445.956522     2.0   29.877630    0.402174    0.380435   20.662183
std     250.852161     0.0   14.001077    0.601633    0.690963   13.417399
min      10.000000     2.0    0.670000    0.000000    0.000000    0.000000
25%     234.500000     2.0   23.000000    0.000000    0.000000   13.000000
50%     435.500000     2.0   29.000000    0.000000    0.000000   14.250000
75%     668.000000     2.0   36.000000    1.000000    1.000000   26.000000
max     887.000000     2.0   70.000000    3.000000    3.000000   73.500000
3
       PassengerId  Pclass         Age       SibSp       Parch        Fare
count   491.000000   491.0  355.000000  491.000000  491.000000  491.000000
mean    439.154786     3.0   25.140620    0.615071    0.393075   13.675550
std     264.441453     0.0   12.495398    1.374883    0.888861   11.778142
min       1.000000     3.0    0.420000    0.000000    0.000000    0.000000
25%     200.000000     3.0   18.000000    0.000000    0.000000    7.750000
50%     432.000000     3.0   24.000000    0.000000    0.000000    8.050000
75%     666.500000     3.0   32.000000    1.000000    0.000000   15.500000
max     891.000000     3.0   74.000000    8.000000    6.000000   69.550000

In [139]:
pasInfo.groupby(['Pclass']).mean()

        PassengerId        Age     SibSp     Parch       Fare
Pclass
1        461.597222  38.233441  0.416667  0.356481  84.154687
2        445.956522  29.877630  0.402174  0.380435  20.662183
3        439.154786  25.140620  0.615071  0.393075  13.675550

In [136]:
pasInfo[['Pclass', 'Age']].groupby(['Pclass'], as_index=False).mean()

   Pclass        Age
0       1  38.233441
1       2  29.877630
2       3  25.140620

### Сортировка таблиц

In [143]:
pasInfo.sort_values(by='Pclass', ascending=True).head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
445,446,1,"Dodge, Master. Washington",male,4.0,0,2,33638,81.8583,A34,S
310,311,1,"Hays, Miss. Margaret Bechstein",female,24.0,0,0,11767,83.1583,C54,C
309,310,1,"Francatelli, Miss. Laura Mabel",female,30.0,0,0,PC 17485,56.9292,E36,C
307,308,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.0,1,0,PC 17758,108.9000,C65,C
306,307,1,"Fleming, Miss. Margaret",female,NaN,0,0,17421,110.8833,NaN,C

### Объединение таблиц

In [131]:
pasSurvival = pd.read_csv('titanic_surv.csv')

In [152]:
#самое простое - по индексам. но часто не так.
pasInfo.join(pasSurvival).head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

Вот так работает merge:
DataFrame.merge(right, how='inner', on=None, left_on=None, right_on=None)

In [155]:
pasInfo.merge(pasSurvival, right_index=True, left_index=True)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
5,6,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0
6,7,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0
7,8,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,0
8,9,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,1
9,10,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,1
10,11,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,1
11,12,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,1
12,13,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,0
13,14,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,0
14,15,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,0
15,16,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,1
16,17,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,0
17,18,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,1
18,19,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,0
19,20,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,1
20,21,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,0
21,22,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,1
22,23,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,1
23,24,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,1
24,25,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,0
25,26,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,1
26,27,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,0
27,28,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,0
28,29,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,1
29,30,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S,0
862,863,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,1
863,864,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,0
864,865,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S,0
865,866,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,1
866,867,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,1
867,868,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,0
868,869,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,0
869,870,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S,1
870,871,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S,0
871,872,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,1
872,873,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,0
873,874,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S,0
874,875,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C,1
875,876,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,1
876,877,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S,0
877,878,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S,0
878,879,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,0
879,880,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,1
880,881,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,1
881,882,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S,0
882,883,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,0
883,884,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,0
884,885,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,0
885,886,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,0
886,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1
890,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0

Задачки - блок 2 (3 балла)
1. Посчитать долю выживших в каждом классе.
2. Верно ли, что женщины выживали чаще мужчин? Какие пассажиры выживали чаще: с более дешевыми или дорогими билетами? Верно ли, что чаще выживали более молодые пассажиры?
4. Исследовать вопрос членов семьи. Сколько максимум/минимум на корабле? Как это повлияло на вероятность выжить?

Задачки блок 3 (2 балла)

Здесь вам предложены некоторые методы работы с пропусками. Проиллюстрируйте их.

Чтобы работать с пропусками в данных, полезно попробовать понять их природу. Это могут быть совершенно случайные пропуски (например, когда данные плохо сохранились)  или пропуски, которые подчиняются определенной закономерности (например, у пассажиров третьего класса не было личных мест, следовательно, их номера мест не будут записаны). Это стоит учитывать при выборе способа работы с пропусками. Также, могу предположить, что разные методы лучше работают с разными заменами средним, то способ, каким способом вы собираетесь использовать эти данные дальше.

Способ 0: Выкинуть все объекты с пропусками. 
Если у вас достаточно большая выборка и если вы думаете, что пропуски имеют случайный характер, думаю, можно использовать этот метод.

Достоинства: не вносит никаких неточностей в данные, просто сделать.

Недостатки: теряем часть выборки.Например, в нашей выборке, выкидывая все nan, мы теряем больше 60% не очень уж большого датасета, так что этот метод кажется неудачным. 

Способ 1: Заменить пропуски на какое константное значение, например на среднее или на константу.
    
Достоинства: позволяет работать с объектами, у которых есть не все данные.

Недостатки: ухудшает и делает менее точными разные статистические показатели.

В качестве примера заменим в колонке с возрастом пропущенные значения на средние

Способ 3: Попытаться понять природу данных и логически восстановить (полностью или частично, значения признаков).

Достоинства: те же, что и у предыдущего метода + можно стать точнее
Недостатки: не всегда есть такая возможность + можно угадать неправильно
    
Например, в нашем датасете, можно заметить, что почти у всех пассажиров третьего класса класс не указан и дать всем один номер каюты. (не уверена, что это хорошее решение в данном случае)

### Дополнительные полезные функции

In [157]:
# отступление

In [158]:
#применение функции к колонке
pasInfo['Fare'].map(lambda x: x**2, na_action='ignore')

0         52.562500
1       5081.308859
2         62.805625
3       2819.610000
4         64.802500
5         71.542839
6       2689.718906
7        444.155625
8        123.950369
9        904.253013
10       278.890000
11       704.902500
12        64.802500
13       978.125625
14        61.688458
15       256.000000
16       848.265625
17       169.000000
18       324.000000
19        52.200625
20       676.000000
21       169.000000
22        64.468053
23      1260.250000
24       444.155625
25       985.175156
26        52.200625
27     69169.000000
28        62.081793
29        62.343658
           ...
861      132.250000
862      672.323413
863     4837.202500
864      169.000000
865      169.000000
866      192.052479
867     2549.825818
868       90.250000
869      123.950369
870       62.343658
871     2761.943938
872       25.000000
873       81.000000
874      576.000000
875       52.200625
876       96.939778
877       62.343658
878       62.343658
879     6915.302859
880      676.000000
881       62.343658
882      110.600979
883      110.250000
884       49.702500
885      848.265625
886      169.000000
887      900.000000
888      549.902500
889      900.000000
890       60.062500
Name: Fare, Length: 891, dtype: float64

Задача блок 4 (1 балл)

Используя данные в интернете приведите цены на билеты в рублях, добавив для этого новую колонку. Не забудьте, что ценность доллара изменилась с начала 20 века.